.btnAdd {
  margin-bottom: 20px;
}
.btnDelete {
  margin-left: 30px;
}

.btnGender {
  margin-top: 6px;
  text-align: center;
}
.valuegender {
  margin-bottom: 2px;
  padding: 4px;
}

.pagination{
  margin-top: 3%;
  width: 100%;
}

.page-items{
  margin-right: 1%;
  width: 4%;
  text-align: center;
}
