<button nz-button nzType="primary" (click)="save()">Save</button>
<ng-container *ngIf="product">
  <div>
    <div>
      <h6>Tên sản phẩm</h6>
      <input
        id="productName"
        nz-input
        placeholder="Ten san pham"
        [(ngModel)]="product.productName"
      />
    </div>
    <nz-divider></nz-divider>
    <div>
      <h6>Mô tả sản phẩm</h6>
      <textarea
        nz-input
        placeholder="Controlled autosize"
        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
        [(ngModel)]="product.description"
      ></textarea>
    </div>
    <nz-divider></nz-divider>
    <div style="display: flex; justify-content: space-between">
      <div *ngIf="manufacturers">
        <h6>Hãng sản xuất</h6>
        <nz-select
          id="manufacturer"
          nzShowSearch
          [nzDropdownRender]="renderManufacturers"
          nzPlaceHolder="Chọn nhà sản xuất"
          [ngModel]="product!.manufacturerDto!.id!"
          (ngModelChange)="onChangeManufacturer($event)"
        >
          <nz-option
            *ngFor="let manufacturer of manufacturers"
            [nzLabel]="manufacturer.manufacturerName"
            [nzValue]="manufacturer.id"
          ></nz-option>
        </nz-select>
        <ng-template #renderManufacturers>
          <nz-divider></nz-divider>
          <div class="container">
            <input type="text" nz-input #inputElement />
            <a class="add-item" (click)="addManufacturer(inputElement)">
              <span nz-icon nzType="plus"></span>
            </a>
          </div>
        </ng-template>
      </div>
      <div>
        <h6>Dòng sản phẩm</h6>
        <nz-select
          id="productLine"
          nzShowSearch
          [nzDropdownRender]="renderProductLine"
          nzPlaceHolder="Chọn dòng sản phẩm"
          [ngModel]="product.productLineDto.id"
          (ngModelChange)="onChangeProductLine($event)"
        >
          <nz-option
            *ngFor="let line of product.manufacturerDto.productLineDtos"
            [nzLabel]="line.productLineName"
            [nzValue]="line.id"
          ></nz-option>
        </nz-select>
        <ng-template #renderProductLine>
          <nz-divider></nz-divider>
          <div class="container">
            <input type="text" nz-input #inputElement />
            <a class="add-item" (click)="addProductLine(inputElement)">
              <span nz-icon nzType="plus"></span>
            </a>
          </div>
        </ng-template>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div class="uploadImage">
      <div class="clearfix">
        <h6>Ảnh</h6>
        <div class="upload-btn-wrapper">
          <button nz-button>Tải ảnh lên</button>
          <input type="file" name="myfile" (change)="changeImage($event)" />
        </div>
        <br />
        <div style="display: flex; justify-content: start">
          <ng-container *ngFor="let img of product.images">
            <div
              style="
                margin: 5px;
                padding: 2px;
                border: #c35757;
                border-style: dashed;
                border-width: 2px;
              "
            >
              <img nz-image width="50px" height="50px" [nzSrc]="img" alt="" />
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <nz-divider></nz-divider>
    <div>
      <h6>Phân loại sản phẩm</h6>
      <ng-container *ngIf="product.optionDtos">
        <ng-container
          *ngFor="let optionProduct of product.optionDtos; index as i_option"
        >
          <div *ngIf="options">
            <div style="display: flex; justify-content: start; margin: 5px">
              <nz-input-group
                style="width: 410px"
                [nzAddOnBefore]="'Phân loại sản phẩm ' + (i_option + 1)"
              >
                <nz-select
                  nzShowSearch
                  [nzDropdownRender]="renderOption"
                  nzPlaceHolder="select option"
                  [ngModel]="optionProduct.id"
                  (ngModelChange)="onChangeOption($event, i_option)"
                >
                  <nz-option
                    *ngFor="let option of options"
                    [nzLabel]="option.optionName"
                    [nzValue]="option.id"
                  ></nz-option>
                </nz-select>
                <ng-template #renderOption>
                  <nz-divider></nz-divider>
                  <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a class="add-item" (click)="createOption(inputElement)">
                      <span nz-icon nzType="plus"></span>
                    </a>
                  </div>
                </ng-template>
              </nz-input-group>
              <span
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeOptionProduct(i_option)"
              ></span>
            </div>
            <div style="margin-left: 31px" *ngIf="optionProduct.id">
              <ng-container
                *ngFor="
                  let optionValue of optionProduct.optionValueDtos;
                  index as i_option_value
                "
              >
                <div style="display: flex; justify-content: start; margin: 5px">
                  <nz-input-group
                    style="width: 410px"
                    [nzAddOnBefore]="'Phân loại sản phẩm ' + (i_option + 1)"
                  >
                    <nz-select
                      nzShowSearch
                      [nzDropdownRender]="renderOptionValue"
                      nzPlaceHolder="select Product sa line"
                      [ngModel]="optionValue.id"
                      (ngModelChange)="
                        onChangeOptionValue(
                          $event,
                          i_option,
                          i_option_value,
                          optionProduct.id
                        )
                      "
                    >
                      <nz-option
                        *ngFor="
                          let optionValueDto of options
                            | filterOptionValue: optionProduct.id
                        "
                        [nzLabel]="optionValueDto.optionValueName"
                        [nzValue]="optionValueDto.id"
                      ></nz-option>
                    </nz-select>
                    <ng-template #renderOptionValue>
                      <nz-divider></nz-divider>
                      <div class="container">
                        <input type="text" nz-input #inputElement />
                        <a
                          class="add-item"
                          (click)="addProductLine(inputElement)"
                        >
                          <span nz-icon nzType="plus"></span>
                        </a>
                      </div>
                    </ng-template>
                  </nz-input-group>
                  <span
                    nz-icon
                    nzType="minus-circle-o"
                    class="dynamic-delete-button"
                    (click)="removeOptionValueProduct(i_option, i_option_value)"
                  ></span>
                  <ng-template #addOnBeforeTemplate>
                    <p>Gia tri phan loai {{ i_option_value + 1 }}</p>
                  </ng-template>
                  <ng-template #addOnAfterTemplate>
                    <p>Xoa</p>
                  </ng-template>
                </div>
              </ng-container>

              <button
                *ngIf="
                  optionProduct.optionValueDtos.length <
                  (options
                    | filterOptionValue: optionProduct.id
                    | getLengthArray)
                "
                nz-button
                nzType="dashed"
                (click)="addOptionValue(i_option)"
              >
                Thêm giá trị phân loại
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <button
        *ngIf="product.optionDtos.length < 2"
        nz-button
        nzType="dashed"
        (click)="addOption()"
      >
        Thêm phân loại
      </button>
    </div>
    <div>
      <nz-table #basicTable [nzData]="product.productDetailDtos">
        <thead>
          <tr>
            <th>Ảnh</th>
            <th>Tên phân loại</th>
            <th>Giá nhập</th>
            <th>Giá bán</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>ANH</td>
            <td>{{ data.sku }}</td>
            <td>
              <nz-input-number
                [(ngModel)]="data.priceOrigin"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </td>
            <td>
              <nz-input-number
                [(ngModel)]="data.priceSell"
                [nzMin]="0"
                [nzStep]="1"
              ></nz-input-number>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <nz-divider></nz-divider>
    <div>
      <h6>Thuộc tính sản phẩm</h6>
      <ng-container *ngIf="product.specificationGroupDtos">
        <ng-container
          *ngFor="
            let specificationGroupProduct of product.specificationGroupDtos;
            index as i_specification_group
          "
        >
          <div *ngIf="specificationGroupProduct">
            <div style="display: flex; justify-content: start; margin: 5px">
              <nz-input-group
                style="width: 410px"
                [nzAddOnBefore]="
                  'Nhóm thuộc tính ' + (i_specification_group + 1)
                "
              >
                <nz-select
                  nzShowSearch
                  [nzDropdownRender]="renderSpecificationGroup"
                  nzPlaceHolder="select option"
                  [ngModel]="specificationGroupProduct.id"
                  (ngModelChange)="
                    onChangeSpecificationGroupProduct(
                      $event,
                      i_specification_group
                    )
                  "
                >
                  <nz-option
                    *ngFor="let specificationGroup of specificationGroups"
                    [nzLabel]="specificationGroup.specificationGroupName"
                    [nzValue]="specificationGroup.id"
                  ></nz-option>
                </nz-select>
                <ng-template #renderSpecificationGroup>
                  <nz-divider></nz-divider>
                  <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a class="add-item" (click)="createOption(inputElement)">
                      <span nz-icon nzType="plus"></span>
                    </a>
                  </div>
                </ng-template>
              </nz-input-group>
              <span
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeSpecificationGroup(i_specification_group)"
              ></span>
            </div>
            <div *ngIf="specificationGroupProduct">
              <ng-container
                *ngFor="
                  let specificationProduct of specificationGroupProduct.specificationDtos;
                  index as i_specification
                "
              >
                <div style="display: flex; justify-content: start; margin: 5px">
                  <nz-input-group
                    style="width: 410px"
                    [nzAddOnBefore]="'Thuộc tính ' + (i_specification + 1)"
                  >
                    <nz-select
                      nzShowSearch
                      [nzDropdownRender]="renderSpecification"
                      nzPlaceHolder="select Product sa line"
                      [ngModel]="specificationProduct.id"
                      (ngModelChange)="
                        onChangeSpecification(
                          $event,
                          specificationGroupProduct.id,
                          i_specification_group,
                          i_specification
                        )
                      "
                    >
                      <nz-option
                        *ngFor="
                          let specification of specificationGroups
                            | filterSpecification: specificationGroupProduct.id
                        "
                        [nzLabel]="specification.specificationName"
                        [nzValue]="specification.id"
                      ></nz-option>
                    </nz-select>
                    <ng-template #renderSpecification>
                      <nz-divider></nz-divider>
                      <div class="container">
                        <input type="text" nz-input #inputElement />
                        <a
                          class="add-item"
                          (click)="addProductLine(inputElement)"
                        >
                          <span nz-icon nzType="plus"></span>
                        </a>
                      </div>
                    </ng-template>
                  </nz-input-group>
                  <textarea
                    *ngIf="specificationProduct.specificationName"
                    nz-input
                    [placeholder]="
                      'Nhập thuộc tính ' +
                      specificationProduct.specificationName
                    "
                    [(ngModel)]="specificationProduct.value"
                    [nzAutosize]="{ minRows: 1, maxRows: 3 }"
                  ></textarea>
                  <span
                    nz-icon
                    nzType="minus-circle-o"
                    class="dynamic-delete-button"
                    (click)="
                      removeSpecificationProduct(
                        i_specification_group,
                        i_specification
                      )
                    "
                  ></span>
                  <ng-template #addOnBeforeTemplate>
                    <p>Thuộc tính {{ i_specification + 1 }}</p>
                  </ng-template>
                  <ng-template #addOnAfterTemplate>
                    <p>Xóa</p>
                  </ng-template>
                </div>
              </ng-container>
              <button
                nz-button
                nzType="dashed"
                (click)="addSpecificationProduct(i_specification_group)"
              >
                Thêm thuộc tính
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <button nz-button nzType="dashed" (click)="addSpecificationGroup()">
        Thêm nhóm thuộc tính
      </button>
    </div>
  </div>
</ng-container>
