<div class="row m-0 w-100 mt-4 p-2" *ngIf="isEdit">
  <div class="bg-white p-3 rounded-3 h-100">
    <nz-steps [nzCurrent]="order.orderStatus">
      <ng-container *ngFor="let orderStatus of commonService.orderStatuses">
        <nz-step
          nz-popconfirm
          nzPopconfirmTitle="Bạn có muốn chuyển trạng thái đơn hàng sang {{
            orderStatus.statusName
          }} không?"
          nzIcon="iconTpl"
          nzPopconfirmPlacement="bottom"
          (nzOnConfirm)="onIndexChange(orderStatus.status)"
          style="cursor: pointer"
          [nzTitle]="orderStatus.statusName"
          [nzStatus]="
            order.orderStatus == -1
              ? 'process'
              : (order.orderStatus >= orderStatus.status &&
                  orderStatus.status != -1 &&
                  orderStatus.status != -2) ||
                (order.orderStatus == -2 && orderStatus.status != -1)
              ? 'process'
              : 'wait'
          "
          [nzIcon]="orderStatus.icon"
        ></nz-step>
      </ng-container>
    </nz-steps>
    <ng-template #iconTpl> </ng-template>
  </div>
</div>
<div class="row m-0 w-100 mt-4">
  <div class="col-7">
    <div class="bg-white p-3 rounded-3 h-100">
      <div class="" *ngIf="order">
        <nz-table [nzNoResult]="noResult">
          <thead>
            <tr>
              <th>Sản phẩm</th>
              <th>SL</th>
              <th>Đơn giá</th>
              <th>Thành tiền</th>
              <th>Imei</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let orderDetail of order.orderDetailDtos;
                let i_order_detail = index
              "
            >
              <td>
                <b>{{ orderDetail.productDetailCartDto.productName }}</b
                ><br />{{ orderDetail.productDetailCartDto.sku }}
              </td>
              <td>
                {{ orderDetail.amount }}
              </td>
              <td>{{ orderDetail.priceSell | number }}đ</td>
              <td>
                {{ orderDetail.priceSell! * orderDetail.amount | number }}đ
              </td>
              <td>
                <ng-container
                  *ngFor="let imei of orderDetail.imeiDtoList; let i = index"
                >
                  <nz-tag
                    nzMode="closeable"
                    (nzOnClose)="
                      removeImei(i, i_order_detail, imei.id, orderDetail.id!)
                    "
                  >
                    {{ imei.imei }}
                  </nz-tag>
                  <br />
                </ng-container>
                <ng-container
                  *ngIf="orderDetail.imeiDtoList!.length != orderDetail.amount"
                >
                  <button
                    nz-button
                    nzType="dashed"
                    (click)="openModelAddImei(orderDetail)"
                  >
                    <span nz-icon nzType="plus" nzTheme="outline"></span>
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
      <div class="m-3">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input
            #searchBox
            type="text"
            [(ngModel)]="searchTerm"
            nz-input
            placeholder="Tìm kiếm sản phẩm"
            (ngModelChange)="search(searchTerm)"
          />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <span nz-icon nzType="search"></span>
        </ng-template>
        <ng-container *ngFor="let product of products; let i_product = index">
          <div class="mt-3 mb-3 shadow-sm row">
            <div class="col-2">
              <img [src]="product.images[0]" alt="" width="100" />
            </div>
            <div class="col-10">
              <h5>
                <b>{{ product.productName }}</b>
              </h5>
              <ng-container
                *ngFor="let option of product.optionDtos; let i_option = index"
              >
                <p>{{ option.optionName }}</p>
                <div class="mb-2">
                  <ng-container
                    *ngFor="
                      let optionValue of option.optionValueDtos;
                      let i_optionValue = index
                    "
                  >
                    <button
                      nz-button
                      [nzType]="optionValue.selected ? 'primary' : 'default'"
                      (click)="
                        selectOptionValue(
                          i_option,
                          i_product,
                          i_optionValue,
                          optionValue.selected
                        )
                      "
                    >
                      {{ optionValue.optionValueName }}
                    </button>
                  </ng-container>
                </div>
              </ng-container>
              <button
                nz-button
                nzType="primary"
                (click)="openModalSelectImei(product)"
              >
                <span nz-icon nzType="shopping-cart"></span>
                Thêm vào đơn hàng
              </button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin khách hàng</h6>
        <app-customer-info
          [customer]="order.customerDTO"
          [isEdit]="isEdit"
        ></app-customer-info>
      </div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin thanh toán</h6>
        <div class="d-flex justify-content-between">
          <p>Tổng tiền hàng</p>
          <p>
            <b>{{ order.goodsValue | number }}đ</b>
          </p>
        </div>
        <div
          class="d-flex justify-content-between"
          *ngIf="this.order.delivery == 1"
        >
          <p>Phí giao hàng</p>
          <p>
            <b>{{ order.shipFee | number }}đ</b>
          </p>
        </div>
        <div class="d-flex justify-content-between">
          <p>Tổng tiền</p>
          <p>
            <b>{{ order.goodsValue + order.shipFee! | number }}đ</b>
          </p>
        </div>
        <div class="row d-flex justify-content-between">
          <p class="col-6">Khách thanh toán</p>
          <div class="col-6">
            <nz-input-number
              style="width: 100%"
              [(ngModel)]="order.checkout"
              [nzMin]="1"
              [nzMax]="order.goodsValue + (order.shipFee ? order.shipFee : 0)"
              [nzStep]="1"
              (ngModelChange)="saveOrderStore()"
            ></nz-input-number>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <p>Còn thiếu</p>
          <p>
            <b>
              {{
                order.goodsValue +
                  (order.shipFee ? order.shipFee : 0) -
                  order.checkout | number
              }}đ</b
            >
          </p>
        </div>
        <textarea
          nz-input
          placeholder="Ghi chú"
          [(ngModel)]="order.note"
          [nzAutosize]="{ minRows: 2, maxRows: 6 }"
          (ngModelChange)="noteChange($event)"
        ></textarea>
      </div>
      <div class="mb-3 p-3 rounded-3 bg-white">
        <h6>Thông tin giao hàng</h6>
        <app-delivery-info
          [address]="order.address"
          [delivery]="order.delivery!"
        ></app-delivery-info>
      </div>
      <div class="p-3 rounded-3 d-flex justify-content-end bg-white">
        <button
          nz-button
          nzType="default"
          nzSize="large"
          (click)="printOrder()"
        >
          <span nz-icon nzType="printer" nzTheme="outline"></span>
          In hóa đơn
        </button>
        <button nz-button nzType="primary" nzSize="large" (click)="save()">
          <span nz-icon nzType="save" nzTheme="outline"></span>
          Lưu
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #noResult> </ng-template>

<nz-modal
  [(nzVisible)]="isShowConfirmCancelOrder"
  nzTitle="Hủy đơn hàng"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <textarea
      nz-input
      [(ngModel)]="cancelNote"
      placeholder="Nhập lý do hủy đơn hàng"
      [nzAutosize]="{ minRows: 2, maxRows: 6 }"
    ></textarea>
  </ng-container>
</nz-modal>
<!-- ngxPrintItem printName="First one"-->
<div style="display: none">
  <!-- <app-printer-order [order]="order"></app-printer-order> -->
  <div id="printDiv">
    <div id="page" class="p-3" style="width: 500px">
      <section>
        <h2 class="text-center"><b>Mobigenz Store</b></h2>
        <h5 class="text-center">Hóa đơn mua hàng</h5>
        <p class="text-center">{{ nowDate | date : "HH:mm dd/MM/yyyy" }}</p>
        <div class="row">
          <label class="col">Mã hóa đơn: {{ order.id }}</label>
        </div>
        <div class="row">
          <label class="col">Tên khách hàng: {{ order.recipientName }}</label>
        </div>
        <div class="row">
          <label class="col">Điện thoại: {{ order.recipientPhone }}</label>
        </div>
        <div class="row">
          <label class="col">Email: {{ order.recipientEmail }}</label>
        </div>
        <div class="row">
          <label class="col">SĐT: {{ order.recipientPhone }}</label>
        </div>
        <div class="row">
          <label class="col">Địa chỉ: {{ order.address }}</label>
        </div>
        <div>
          -------------------------------------------------------------------------
        </div>
        <div>
          <table
            class="table table-borderless"
            *ngFor="let item of order.orderDetailDtos"
          >
            <thead>
              <tr>
                <th class="w-50">Tên Sp</th>
                <th scope="col">Imei</th>
                <th scope="col">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-50">
                  {{ item.productDetailCartDto.productName }} <br />
                  {{ item.productDetailCartDto.sku }}
                </td>
                <td>
                  <ng-container *ngFor="let item of item.imeiDtoList">
                    {{ item.imei }}
                  </ng-container>
                </td>
                <td>
                  {{ item.priceSell * item.imeiDtoList!.length | number }}đ
                </td>
              </tr>
              <tr>
                <td colspan="2"><b>Tổng tiền</b></td>
                <td>{{ order.totalMoney | number }}đ</td>
              </tr>
              <tr>
                <td colspan="2"><b>Khách thanh toán</b></td>
                <td>{{ order.checkout | number }}đ</td>
              </tr>
              <tr>
                <td colspan="2"><b>Dư nợ</b></td>
                <td>{{ order.totalMoney - order.checkout | number }}đ</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div>
          -------------------------------------------------------------------------
        </div>
        <div class="row" *ngFor="let item of order.orderDetailDtos">
          <label class="col"
            >Ngày tạo: {{ order.ctime | date : "HH:mm dd/MM/yyyy" }}</label
          >
        </div>
        <div class="row">
          <label class="col">Nhân viên bán hàng: Mobigenz Store</label>
        </div>
        <div>
          -------------------------------------------------------------------------
        </div>
        <div class="row text-center">
          <label class="col"><b>Chính sách đổi trả</b></label>
        </div>
        <div class="row text-center">
          <label class="col">
            Cửa hàng hỗ trợ 1 đổi 1 trong vòng 30 ngày kể từ ngày khách nhận
            hàng nếu có lỗi từ nhà sản xuất!</label
          >
        </div>
        <div class="row text-center">
          <label class="col"><b>CẢM ƠN QUÝ KHÁCH ĐÃ MUA HÀNG</b></label>
        </div>
        <div class="row text-center">
          <label class="col"><b>HẸN GẶP LẠI!</b></label>
        </div>
      </section>
    </div>
  </div>
</div>
<br />
<!-- ngxPrintItemButton divID="printDiv" -->
