.form-control{
  padding: 10px;
  margin-bottom: 20px;
}
.rdo_gender
{
  margin-top: 10px;
}

.formAdd{
  margin-top: 20px;
}
.btnAdd{
  margin-left: 40px;
  margin-top: 15px;
}
.sl_type{
  width: 100%;

}
.avt{
  margin-top: 8px;
}
