<div class="container" id="container">
  <div class="form-container sign-in-container">

    <form [formGroup]="formLogin">
      <h1 class="juntify-content-center">Đăng nhập</h1>
      <label class="mt-5">Email</label>
      <input type="email" formControlName="email" placeholder="Email" />
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Password"
      />
      <button class="mt-5" (click)="onSubmit()">Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Xin chào bạn!</h1>
        <p>
          Chào mừng bạn đến với MobileGenz!
        </p>
        <!-- <button
          class="btn btn-lg ghost btn-outline-primary"
          (click)="showModal()"
        >
          Đăng ký
        </button> -->
      </div>
    </div>
  </div>
</div>

<!-- <nz-modal
    [(nzVisible)]="isVisible"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()"
    nzTitle="Đăng ký tài khoản"
  >
    <ng-container *nzModalContent>
      <form nz-form [formGroup]="formRegister">

        <nz-form-item>
          <nz-form-label class="label" [nzSm]="24"  [nzXs]="24" nzRequired
            >Email</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
          >
            <input nz-input type="text" formControlName="email" id="email" />
            <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formRegister.get('email')?.errors?.['required'] && formRegister.get('email')?.touched || submit && formRegister.get('email')?.errors?.['required'] "
          >
            Email không được để trống !
          </small>
          <small
          class="col alert text-danger col-12"
          role="alert"
          *ngIf="!formRegister.get('email')?.errors?.['required'] && formRegister.get('email')?.errors?.['email']"
        >
          Email phải đúng định dạng !
        </small>
          </nz-form-control>

        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="label" [nzSm]="24" [nzXs]="24" nzRequired
            >Mật khẩu</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
          >
            <input
              nz-input
              type="password"
              formControlName="password"
              id="password"
            />
            <small
                class="col alert text-danger col-12"
                role="alert"
                *ngIf="formRegister.get('password')?.errors?.['required'] && formRegister.get('password')?.touched || submit && formRegister.get('password')?.errors?.['required'] "
              >
                Mật khẩu không được để trống !
              </small>
              <small
              class="col alert text-danger col-12"
              role="alert"
              *ngIf="!formRegister.get('password')?.errors?.['required'] && formRegister.get('password')?.errors?.['pattern']"
            >
            Mật khẩu phải có 8 ký tự trở lên, bao gồm cả chữ, cả số và cả kí tự đặc biệt !
            </small>
          </nz-form-control>

        </nz-form-item>
        <nz-form-item>
          <nz-form-label class="label" [nzSm]="24" [nzXs]="24" nzRequired nzFor="repassword"
            >Xác nhận mật khẩu</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
            nzErrorTip="Xác nhận mật khẩu không được để trống!"
          >
            <input
              nz-input
              type="password"
              formControlName="repassword"
              id="repassword"
            />
            <small
            class="col alert text-danger col-12"
            role="alert"
            *ngIf="formRegister.get('repassword')?.errors?.['required'] && formRegister.get('repassword')?.touched || submit && formRegister.get('repassword')?.errors?.['required'] "
          >
            Mật khẩu xác nhận không được để trống !
          </small>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label class="label" [nzSm]="24" [nzXs]="24" nzRequired nzFor="phoneNumber"
            >Số ĐT</nz-form-label
          >
          <nz-form-control
            [nzSm]="24"
            [nzXs]="24"
          >
            <input
              nz-input
              type="text"
              formControlName="phoneNumber"
              id="phoneNumber"
            />
            <small
                class="col alert text-danger col-12"
                role="alert"
                *ngIf="formRegister.get('phoneNumber')?.errors?.['required'] && formRegister.get('phoneNumber')?.touched || submit && formRegister.get('phoneNumber')?.errors?.['required'] "
              >
                Số điện thoại không được để trống!
              </small>
              <small class="col alert text-danger" role="alert"
              *ngIf="!formRegister.get('phoneNumber')?.errors?.['required'] && formRegister.get('phoneNumber')?.errors?.pattern">
                Số điện thoại phải là số và tối đa 10 kí tự!
              </small>
          </nz-form-control>
        </nz-form-item>
      </form>
    </ng-container>
  </nz-modal> -->
