
body{
  background-size: 100%;
  background-color: darkgray;
}

.btnGetOTP{
  margin-left: 305px;

}

.btnConfirmOTP{
  margin-left: 294px;
}

.login-form {
  padding-top: 150px;
  max-width: 300px;
  margin-left: 630px;
}


.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
