<div class="bg-white mt-4">
  <div class="p-3 d-flex justify-content-between">
    <button nz-button nzType="primary" (click)="openDrawer('')">
      Them san pham
    </button>
    <nz-input-group style="width: 40%" [nzSuffix]="suffixIconSearch">
      <input type="text" nz-input placeholder="input search text" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </div>
  <nz-table #basicTable [nzData]="products">
    <thead>
      <tr>
        <th></th>
        <th>Ảnh</th>
        <th>Tên SP</th>
        <th>Hãng SP</th>
        <th>Dòng SP</th>
        <th>Tạo lúc</th>
        <th>Cập nhật</th>
      </tr>
    </thead>
    <tbody>
      <ng-template ngFor let-product [ngForOf]="basicTable.data">
        <tr>
          <td style="width: 40px" [(nzExpand)]="product.expand"></td>
          <td>
            <img
              nz-image
              width="50px"
              height="50px"
              [nzSrc]="product.images[0]"
              alt=""
            />
          </td>
          <td>
            <a (click)="openDrawer(product.id)"
              ><b>{{ product.productName }}</b></a
            >
          </td>
          <td>{{ product.manufacturerDto!.manufacturerName }}</td>
          <td>{{ product.productLineDto!.productLineName }}</td>
          <td>{{ product.ctime | date: "hh:mm dd/MM/yyyy" }}</td>
          <td>{{ product.mtime | date: "hh:mm dd/MM/yyyy" }}</td>
        </tr>
        <tr [nzExpand]="product.expand!">
          <nz-table
            #innerTable
            [nzData]="product.productDetailDtos"
            nzSize="middle"
            [nzShowPagination]="false"
          >
            <thead>
              <tr>
                <!-- <th>Ảnh</th> -->
                <th>Phân loại</th>
                <th>Tồn kho</th>
                <th>Giá nhập</th>
                <th>Giá bán</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let productDetail of innerTable.data; let i = index">
                <!-- <td>
                <img
                  [src]="productDetail.image"
                  width="100"
                  [alt]="productDetail.sku"
                />
              </td> -->
                <td>{{ productDetail.sku }}</td>
                <td>{{ productDetail.stock }}</td>
                <td>{{ productDetail.priceSell }}</td>
                <td>{{ productDetail.priceOrigin }}</td>
                <td>
                  <a (click)="openModalImei(productDetail, product.id, i)"
                    >Nhập hàng</a
                  >
                </td>
              </tr>
            </tbody>
          </nz-table>
        </tr></ng-template
      >
    </tbody>
  </nz-table>
</div>
