<div>
  <h6>Phân loại sản phẩm</h6>
  <ng-container *ngIf="product.optionDtos">
    <ng-container
      *ngFor="let optionProduct of product.optionDtos; index as i_option"
    >
      <div *ngIf="options">
        <div style="display: flex; justify-content: start; margin: 5px">
          <nz-input-group
            style="width: 410px"
            [nzAddOnBefore]="'Phân loại sản phẩm ' + (i_option + 1)"
          >
            <nz-select
              [nzDisabled]="!optionProduct.isChange"
              nzShowSearch
              [nzDropdownRender]="renderOption"
              nzPlaceHolder="select option"
              [ngModel]="optionProduct.id"
              (ngModelChange)="onChangeOption($event, i_option)"
            >
              <nz-option
                *ngFor="let option of options"
                [nzLabel]="option.optionName"
                [nzValue]="option.id"
              ></nz-option>
            </nz-select>
            <ng-template #renderOption>
              <nz-divider></nz-divider>
              <div class="container">
                <input type="text" nz-input #inputElement />
                <a class="add-item" (click)="createOption(inputElement)">
                  <span nz-icon nzType="plus"></span>
                </a>
              </div>
            </ng-template>
          </nz-input-group>
          <span
            *ngIf="optionProduct.isChange"
            nz-icon
            nzType="minus-circle-o"
            class="dynamic-delete-button"
            (click)="removeOptionProduct(i_option)"
          ></span>
        </div>
        <div style="margin-left: 31px" *ngIf="optionProduct.id">
          <ng-container
            *ngFor="
              let optionValue of optionProduct.optionValueDtos;
              index as i_option_value
            "
          >
            <div style="display: flex; justify-content: start; margin: 5px">
              <nz-input-group
                style="width: 410px"
                [nzAddOnBefore]="'Giá trị phân loại ' + (i_option + 1)"
              >
                <nz-select
                  [nzDisabled]="!optionProduct.isChange"
                  nzShowSearch
                  [nzDropdownRender]="renderOptionValue"
                  nzPlaceHolder="select Product line"
                  [ngModel]="optionValue.id"
                  (ngModelChange)="
                    onChangeOptionValue(
                      $event,
                      i_option,
                      i_option_value,
                      optionProduct.id
                    )
                  "
                >
                  <nz-option
                    *ngFor="
                      let optionValueDto of options
                        | filterOptionValue : optionProduct.id
                    "
                    [nzDisabled]="
                      optionValueDto.isDisable === true ? true : false
                    "
                    [nzLabel]="optionValueDto.optionValueName"
                    [nzValue]="optionValueDto.id"
                  ></nz-option>
                </nz-select>
                <ng-template #renderOptionValue>
                  <nz-divider></nz-divider>
                  <div class="container">
                    <input type="text" nz-input #inputElement />
                    <a
                      class="add-item"
                      (click)="
                        createOptionValue(optionProduct.id, inputElement)
                      "
                    >
                      <span nz-icon nzType="plus"></span>
                    </a>
                  </div>
                </ng-template>
              </nz-input-group>
              <span
                *ngIf="optionProduct.isChange"
                nz-icon
                nzType="minus-circle-o"
                class="dynamic-delete-button"
                (click)="removeOptionValueProduct(i_option, i_option_value)"
              ></span>
              <ng-template #addOnBeforeTemplate>
                <p>Gia tri phan loai {{ i_option_value + 1 }}</p>
              </ng-template>
              <ng-template #addOnAfterTemplate>
                <p>Xoa</p>
              </ng-template>
            </div>
          </ng-container>

          <!-- (!isEdit || optionProduct.optionValueDtos <= 1)) -->
          <button
            *ngIf="
              optionProduct.optionValueDtos.length <=
                (options | filterOptionValue : optionProduct.id).length - 1 &&
              (!isEdit || optionProduct.optionValueDtos <= 1)
            "
            nz-button
            nzType="dashed"
            (click)="addOptionValue(i_option)"
          >
            Thêm giá trị phân loại
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <button
    *ngIf="product.optionDtos.length < 2"
    nz-button
    nzType="dashed"
    (click)="addOption()"
  >
    Thêm phân loại
  </button>
</div>
<div class="mb-4">
  <nz-table
    #basicTable
    [nzData]="product.productDetailDtos"
    [nzShowPagination]="false"
  >
    <thead>
      <tr>
        <th>Ảnh</th>
        <th>Tên phân loại</th>
        <th>Giá nhập</th>
        <th>Giá bán</th>
        <th *ngIf="!isEdit"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; let i = index">
        <td>
          <ng-container *ngIf="data.image">
            <img
              [src]="data.image"
              width="50px"
              [alt]="data.sku"
              (click)="openModalSelectImage(i)"
            />
          </ng-container>
          <ng-container *ngIf="!data.image">
            <button nz-button nzType="dashed" (click)="openModalSelectImage(i)">
              +
            </button>
          </ng-container>
        </td>
        <td>{{ data.sku }}</td>
        <td>
          <nz-input-number
            [(ngModel)]="data.priceOrigin"
            [nzMin]="0"
            [nzStep]="1"
          ></nz-input-number>
        </td>
        <td>
          <nz-input-number
            [(ngModel)]="data.priceSell"
            [nzMin]="0"
            [nzStep]="1"
          ></nz-input-number>
        </td>
        <td *ngIf="!isEdit">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [(nzVisible)]="isVisibleSelectImage"
  nzTitle="Chọn ảnh"
  [nzFooter]="noFooter"
>
  <ng-container *nzModalContent>
    <div
      style="
        display: grid;
        column-gap: 30px;
        width: 100px;
        grid-template-columns: auto auto auto;
      "
    >
      <ng-container *ngFor="let img of product.images">
        <div
          style="
            font-size: 30px;
            text-align: center;
            padding: 10px;
            margin-bottom: 10px;
            border: dashed 3px red;
          "
        >
          <img [src]="img" width="100" (click)="onSelectImage(img)" />
        </div>
      </ng-container>
    </div>
  </ng-container>
</nz-modal>
<ng-template #noFooter>
  <button nz-button nzType="default" (click)="closeSelectedImage()">
    Đóng
  </button>
</ng-template>
