nz-select {
    width: 240px;
  }
  nz-divider {
    margin: 4px 0;
  }
  .container {
    display: flex;
    flex-wrap: nowrap;
    padding: 8px;
  }
  .add-item {
    flex: 0 0 auto;
    padding: 8px;
    display: block;
  }


  //image
  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
  }

  .dynamic-delete-button:hover {
    color: rgb(237, 28, 28);
  }