<nz-layout style="height: 100%">
  <nz-sider
    style="height: 100%;"
    nzCollapsible
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
  >
    <div class="logo">
      <a routerLink="/home"><h2 class="p-2" style="color: gray;">MobileGenZ</h2></a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Quản lý" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink="/">Home</a></li>
          <li nz-menu-item><a routerLink="/admin/roles">Vai trò</a></li>
          <li nz-menu-item><a routerLink="/admin/users">Người dùng</a></li>
          <li nz-menu-item><a routerLink="/admin/customer">Khách hàng</a></li>
          <li nz-menu-item><a routerLink="/admin/categories">Danh mục</a></li>
          <li nz-menu-item><a routerLink="/admin/employee">Nhân viên</a></li>
          <li nz-menu-item><a routerLink="/admin/products">Sản phẩm</a></li>
          <li nz-menu-item><a routerLink="/admin/orders">Đơn hàng</a></li>
        </ul>
      </li>
    </ul>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Tài khoản" nzIcon="user">
        <ul>
          <li nz-menu-item><a routerLink="/admin/profile">Cá nhân</a></li>
          <li nz-menu-item><a (click)="logout()">Đăng xuất</a></li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
<!-- <nz-footer>MobileGenz ©2022 Pro</nz-footer> -->
  </nz-layout>
</nz-layout>
