<div class="bg-white mt-4 p-3">
  <div class="d-flex justify-content-between">
    <div>
      <button nz-button [nzType]="'primary'" (click)="showModal()">
        <span>Thêm mới</span>
      </button>
      <nz-modal
        [(nzVisible)]="isVisible"
        (nzOnCancel)="handleCancel()"
        (nzOnOk)="handleOk()"
      >
        <ng-container *nzModalContent>
          <form nz-form [formGroup]="formEmployee">
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzRequired
                nzFor="employeeCode"
                >Mã nhân viên</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="employeeCode"
                  id="employeeCode"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('employeeCode')?.errors?.['required'] && formEmployee.get('employeeCode')?.touched || submit && formEmployee.get('employeeCode')?.errors?.['required'] "
                >
                  Mã nhân viên không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzRequired
                nzFor="employeeName"
                >Tên nhân viên</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="employeeName"
                  id="employeeName"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('employeeName')?.errors?.['required'] && formEmployee.get('employeeName')?.touched || submit && formEmployee.get('employeeName')?.errors?.['required'] "
                >
                  Tên nhân viên không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="address"
                >Địa chỉ</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="address"
                  id="address"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('address')?.errors?.['required'] && formEmployee.get('address')?.touched || submit && formEmployee.get('address')?.errors?.['required'] "
                >
                  Địa chỉ không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label
                [nzSm]="6"
                [nzXs]="24"
                nzFor="phoneNumber"
                nzRequired
                >Số ĐT</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  id="phoneNumber"
                  formControlName="phoneNumber"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('phoneNumber')?.errors?.['required'] && formEmployee.get('phoneNumber')?.touched || submit && formEmployee.get('phoneNumber')?.errors?.['required'] "
                >
                  Số điện thoại không được để trống!
                </small>
                <small
                  class="col alert text-danger"
                  role="alert"
                  *ngIf="!formEmployee.get('phoneNumber')?.errors?.['required'] && formEmployee.get('phoneNumber')?.errors?.['pattern']"
                >
                  Số điện thoại chưa đúng định dạng!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birthday" nzRequired
                >Ngày sinh</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="date"
                  formControlName="birthday"
                  id="birthday"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('birthday')?.errors?.['required'] && formEmployee.get('birthday')?.touched || submit && formEmployee.get('birthday')?.errors?.['required'] "
                >
                  Ngày sinh không được để trống!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender"
                >Giới tính</nz-form-label
              >
              <nz-radio-group
                class="mt-1"
                formControlName="gender"
                nzName="gender"
              >
                <label nz-radio [nzValue]="1" nzValue="1">Nam</label>
                <label nz-radio [nzValue]="0" nzValue="0">Nữ</label>
              </nz-radio-group>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
                >Email</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="email"
                  formControlName="email"
                  id="email"
                />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('email')?.errors?.['required'] && formEmployee.get('email')?.touched || submit && formEmployee.get('email')?.errors?.['required'] "
                >
                  Email không được để trống !
                </small>
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="!formEmployee.get('email')?.errors?.['required'] && formEmployee.get('email')?.errors?.['email']"
                >
                  Email phải đúng định dạng !
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cmnd"
                >CCCD</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input nz-input type="text" formControlName="cmnd" id="cmnd" />
                <small
                  class="col alert text-danger col-12"
                  role="alert"
                  *ngIf="formEmployee.get('cmnd')?.errors?.['pattern']"
                >
                CCCD phải là số có 12 kí tự!
                </small>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="salary"
                >Lương</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="text"
                  formControlName="salary"
                  id="salary"
                />
              </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="timeOnboard"
                >Time On Board</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="date"
                  formControlName="timeOnboard"
                  id="timeOnboard"
                />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dayOff"
                >Day Off</nz-form-label
              >
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <input
                  nz-input
                  type="date"
                  formControlName="dayOff"
                  id="dayOff"
                />
              </nz-form-control>
            </nz-form-item> -->
            <!-- <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"
                >Trạng thái</nz-form-label
              >
              <nz-radio-group
                class="mt-1"
                formControlName="status"
                nzName="status"
              >
                <label nz-radio [nzValue]="1" nzValue="1">Đang làm việc</label>
                <label nz-radio [nzValue]="0" nzValue="0">Đã nghỉ việc</label>
              </nz-radio-group>
            </nz-form-item> -->
          </form>
        </ng-container>
      </nz-modal>
    </div>
    <div>
      <div>
        <nz-select
          nzAllowClear
          class="selectStatus"
          nzPlaceHolder="Lọc theo trạng thái"
          [(ngModel)]="status"
          (ngModelChange)="findByStatus(status)"
        >
          <nz-option nzValue="" nzLabel="Tất cả"></nz-option>
          <nz-option nzValue="1" nzLabel="Đang làm việc"></nz-option>
          <nz-option nzValue="0" nzLabel="Đã nghỉ việc"></nz-option>
      </nz-select>
    </div>
      <form nz-form [formGroup]="formSearch">
        <div nz-row>
          <div>
            <nz-form-item>
              <nz-form-control>
                <input
                  nz-input
                  type="text"
                  formControlName="valueSearch"
                  id="valueSearch"
                  placeholder="Nhập email,tên khách hàng hoặc số điện thoại để có thể tìm kiếm!"
                />
              </nz-form-control>
              <button
                class="btnSearch"
                (click)="timkiem()"
                style="float: right;margin-left: 10px;"
                nz-button
                [nzType]="'primary'"
              >
                <span>Tìm kiếm</span>
              </button>
            </nz-form-item>
          </div>
        </div>

        <!-- <button nz-button (click)=>LOC</button> -->
      </form>
    </div>
  </div>
  <!--  ---------------------------------  -->
  <ng-template #noResult></ng-template>
  <nz-table *ngIf="datas" [nzNoResult]="noResult" style="width: 100%">
    <thead>
      <tr>
        <th>Mã nhân viên</th>
        <th>Tên nhân viên</th>
        <th>SĐT</th>
        <th>Ngày sinh</th>
        <th>Email</th>
        <th>Lương</th>
        <th>Ngày nghỉ</th>
        <th>Thời gian làm</th>
        <th>Trạng thái</th>
        <th colSpan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of datas">
        <td>{{ item.employeeCode }}</td>
        <td>{{ item.employeeName }}</td>
        <td>{{ item.phoneNumber }}</td>
        <td>{{ item.birthday | date : "yyyy/MM/dd" }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.salary }}</td>
        <td>{{ item.dayOff | date : "yyyy/MM/dd" || "" }}</td>
        <td>{{ item.timeOnboard | date : "yyyy/MM/dd" || "" }}</td>
        <td *ngIf="item.status == 1">Đang làm việc</td>
        <td *ngIf="item.status == 0">Đã nghỉ việc</td>
        <td *ngIf="item.status == null"></td>
        <td style="text-align: center">
          <span
            class="btnUpdate"
            nz-icon
            nzType="edit"
            (click)="getInfoEmployee(item.id)"
            nzTheme="outline"
          ></span>
          <span
            class="btnDelete"
            nz-icon
            nzType="delete"
            (click)="deleteEmployee(item.id)"
            nzTheme="outline"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <div class="footer" style="margin-top: 20px">
    <div>
      <!--              Pagination                -->
      <nav class="page" aria-label="..." *ngIf="Page">
        <ul class="pagination justify-content-end">
          <select
            style="width: 100px; margin-right: 10px"
            class="form-select"
            aria-label="Default select example"
            #selectSize
            (change)="pageItem(selectSize.value)"
          >
            <option selected>5</option>
            <option>10</option>
            <option>15</option>
            <option>20</option>
            <option>25</option>
            <option>30</option>
          </select>

          <li class="page-item" [ngClass]="offset == 0 ? 'disabled' : ''">
            <a class="page-link" (click)="preNextPage('pre')">Previous</a>
          </li>

          <li
            *ngFor="
              let Page of [].constructor(Page['totalPages']);
              let i = index
            "
            class="page-item"
            [ngClass]="offset == i ? 'active' : ''"
          >
            <a class="page-link" (click)="pagination(i)">{{ i + 1 }}</a>
          </li>

          <li
            class="page-item"
            [ngClass]="Page['totalPages'] - 1 == offset ? 'disabled' : ''"
          >
            <a class="page-link" (click)="preNextPage('next')">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
