<div nz-row>
  <div nz-col nzSpan="21">
    <form nz-form class="mt-5" [formGroup]="formSearch">
      <div nz-row>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label [nzSm]="5" [nzXs]="24">Email</nz-form-label>
            <nz-form-control [nzSm]="12" [nzXs]="24">
              <input nz-input type="email" formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <!-- <div nz-col nzSpan="19">
        <button class="mb-3 mt-3" style="float: right;" nz-button [nzType]="'primary'"><span>Tìm kiếm</span></button>
      </div> -->
    </form>
  </div>

  <div nz-col nzSpan="3">
    <button class="mb-3 mt-5" nz-button [nzType]="'primary'" (click)="showModal()"><span>Thêm mới</span></button>
    <nz-modal
      [(nzVisible)]="isVisible"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="handleOk()"
    >
      <ng-container *nzModalContent>
        <form nz-form [formGroup]="formAcc">
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"
              >Email</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Bạn phải nhập đúng định dạng email!"
            >
              <input nz-input type="email" formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password"
              >Mật khẩu</nz-form-label
            >
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              nzErrorTip="Mật khẩu không được để trống!"
            >
              <input nz-input type="password" formControlName="password" id="password" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="status"
              >Trạng thái</nz-form-label
            >
            <nz-radio-group
              class="mt-1"
              formControlName="status"
              nzName="status"
            >
              <label nz-radio [nzValue]="1" nzValue="1">Active</label>
              <label nz-radio [nzValue]="0" nzValue="0">InActive</label>
            </nz-radio-group>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="rollName"
              >Quyền</nz-form-label
            >
            <nz-radio-group class="mt-1" formControlName="rollName" nzName="rollName">
              <label nz-radio [nzValue]="1" nzValue="1">Admin</label>
              <label nz-radio [nzValue]="0" nzValue="0">User</label>
            </nz-radio-group>
          </nz-form-item>
        </form>
      </ng-container>
    </nz-modal>
  </div>
</div>
<!--  ---------------------------------  -->
<nz-table *ngIf="datas">
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
      <th>Role</th>
      <th>Trạng thái</th>
      <th colSpan="2">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas">
      <td>{{ item.id }}</td>
      <td>{{ item.email }}</td>
      <td *ngIf="item.role">Admin</td>
      <td *ngIf="!item.role">User</td>
      <td *ngIf="item.status">Active</td>
      <td *ngIf="!item.status">InActive</td>
      <td style="text-align: center">
        <span class="btnUpdate" nz-icon nzType="edit" nzTheme="outline"></span>
        <span
          class="btnDelete"
          nz-icon
          nzType="delete"
          nzTheme="outline"
        ></span>
      </td>
    </tr>
  </tbody>
</nz-table>
<div class="footer">
  <nz-pagination
    [nzPageIndex]="1"
    [nzTotal]="30"
    nzShowSizeChanger
    [nzPageSize]="5"
  ></nz-pagination>
</div>
