.btnAdd {
  margin-bottom: 20px;
}
.btnDelete {
  margin-left: 30px;
}

.pagination{
  margin-top: 3%;
}

.page-items{
  margin-right: 2%;
  width: 4%;
  text-align: center;
}
.btnSearch{
  margin-left: 10px;
}
