<div class="bg-white mt-3 p-3">
  <div class="mb-4">
    <nz-space>
      <nz-select *nzSpaceItem [(ngModel)]="mode">
        <nz-option nzValue="date" nzLabel="Ngày trong tuần"></nz-option>
        <nz-option nzValue="month" nzLabel="Ngày trong tháng"></nz-option>
        <nz-option nzValue="year" nzLabel="Tháng"></nz-option>
      </nz-select>
      <nz-date-picker
        *nzSpaceItem
        [nzMode]="mode"
        [(ngModel)]="date"
        (ngModelChange)="onChange($event)"
      ></nz-date-picker>
    </nz-space>
  </div>
  <h5>Doanh thu</h5>
  <p-chart type="bar" [data]="stackedData" [options]="stackedOptions"></p-chart>
</div>
